@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Montserrat:wght@400;700&display=swap');
html {
    scroll-behavior: smooth;
}

html, body { 
    font-family: 'Montserrat', sans-serif;
}
 
@media (min-width:768px) {
    body { 
        background-color: #fafafa;
    }
}

a{
    @apply text-blue-500
}
a:hover{
    @apply text-blue-600 underline
}

.page-title{
    @apply text-blue-600 text-xl font-bold
}

.post-title{
    @apply text-blue-600 text-xl  mb-4 font-bold
}

p{
    @apply mb-2
}

.main-menu{
    @apply flex items-center space-x-2;
}
 
.main-menu li a{
    @apply px-4 py-1 bg-white shadow rounded-xl no-underline;
}
.main-menu li a:hover{
    @apply bg-gray-100;
}
 
 

 